body,
html {
  height: 100%;
  margin: 0;
}

.container {
  display: inline-grid;
  grid-template-areas: 
    "header header header header header"
    "sidebar sidebar nav nav nav"
    "sidebar sidebar article article article"
    "sidebar sidebar article article article"
    "sidebar sidebar article article article"
    "sidebar sidebar article article article"
    "footer footer footer footer footer";
  gap: 1vw;
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
<<<<<<< HEAD
  background-color: #FFDE22;
  grid-area: header;
}

.sidebar {
  background-color: #FF7755;
  grid-area: sidebar;
}

.nav {
  background-color: #00DDFF;
  grid-area: nav;
}

.article {
  background-color: #bccbde;
  grid-area: article;
=======
  background-color: #006157;
}

.sidebar {
  background-color: #005B94;
}

.nav {
  background-color: #642cde;
}

.article {
  background-color: #7E1DC3;
}

.footer {
  background-color: #393f4d;
>>>>>>> b7044abea4eb3c9e7b1de2ef2e0b1177f8746ad5
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
<<<<<<< HEAD
}

.footer {
  background-color: #393f4d;
  grid-area: footer;
}
=======
}
>>>>>>> b7044abea4eb3c9e7b1de2ef2e0b1177f8746ad5
